.home{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    margin-right: auto;
    max-width: 1500px;
    margin-left: auto;
    margin-bottom: 0px;
    /* width: 100%; */
    /* width: max-content; */

}

.home__image__one{
    width:100%;
    /* position: sticky ; */
    height: auto;
    /* position: absolute; */
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom ,rgba(0, 0, 0,1),rgba(0, 0, 0,0));
}

.home__product__row{
    display: flex;
    z-index:1;
    margin-right:5px;
    margin-left:5px;
    /* margin-top: 150px; */
}
/* .home__container__imageseparator{
    margin-top: 1px;
} */