.product{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items: flex-end;
    margin:10px;
    padding:20px;
    width:100%;
    max-height:400px;
    min-width:100px;
    background-color: white;
    z-index: 1;
}

.product__info{
    height:100px;
    margin-bottom:8px;
}



.product > img {
    max-height: 200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;

}

.product > button {

    background : rgb(214, 189, 46);
    border:1px solid;
    margin-top:10px;
    border-color:rgb(196, 125, 18) rgb(185, 144, 8);
    color:rgb(34, 32, 32);

}

.product__button :hover{

    background : rgb(250, 135, 3);
}

.product__price{
    margin-top:5px;
}

.product__rating{
    display:flex;
}
.product__rating__star{
    color: rgb(255, 196, 0);
}