.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 100px;
    padding: 20px;
    background-color: rgb(218, 218, 218);
    border:1px solid rgb(177, 177, 177);
    border-radius: 5px;
}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift > img {
    margin-right:5px;
}

.subtotal > button {

    background : rgb(212, 154, 45);
    border-radius: 4px;
    width:100%;
    height:30px;
    border:1px solid;
    margin-top:18px;
    border-color:rgb(231, 126, 40);
    color:rgb(41, 39, 39);

}